html, body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
   background-image: url('background-image.jpg');
    background-repeat: no-repeat;
    
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 80vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
   
    

}

.header {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.header img {
    width: 100px;
    display: block;
}

.form {
    background-color: beige;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
    max-width: 550px;
    width: auto;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.hidden {
    display: none;
}

form {
    margin-bottom: 20px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    color: #664c37;
}

input[type="text"] {
    width: 200px;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #664c37;
}

button {
    background-color: #8b4513;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#loggedInUser {
    position: absolute;
    top: 20px;
    right: 20px;
}

#quitGame {
    position: absolute;
    top: 60px;
    right: 20px;
}


button:hover {
    background-color: #a0522d;
}

#message {
    margin-top: 20px;
    font-size: 18px;
}

#attempts {
    font-style: italic;
}

#characterImg {
   
    display: block;
    margin: 0 auto; /* Center the image horizontally */
    padding-bottom: 5%;
}


#gameContainer {
    display: flex;
 
  
}


/* --------- Media queries */
@media (max-width: 414px) {
    html, body {
        min-height: 105vh;
        margin: 0;
        padding: 0;
        
    }
    body {
        background-image: url(mobile-background.jpg);
        background-repeat: no-repeat;
       
    }
    /* Other existing rules remain unchanged */




    form#guessForm {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    /* Adjust the position of the Quit button */
    #quitGame {
        position: static; /* Reset position */
        margin-bottom: 20px; /* Adjust margin-top */
    }

    /* Ensure background image covers the entire container *
    body, .container {
        background-size: cover;
    }

    /* Other existing rules remain unchanged */
    .loginContainer {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
    }

    #gameContainer {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
    }

    #loggedInUser {
        margin-bottom: 20px;
    }

    #guessForm.form {
        width: 85%;
        margin: 0 auto;
    }

    #usernameForm.form {
        width: 60%;
        margin: 0 auto; /* Center horizontally */
        text-align: center; /* Center text */
    }
}



@media (max-width: 768px) {
    html, body {
        min-height: 105vh;
        margin: 0;
        padding: 0;
        
        
    }
    body {
        background-image: url(mobile-background.jpg);
        background-repeat: no-repeat;
        
       
    }
    /* Other existing rules remain unchanged */




    form#guessForm {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    /* Adjust the position of the Quit button */
    #quitGame {
        position: static; /* Reset position */
        margin-bottom: 20px; /* Adjust margin-top */
    }

    /* Ensure background image covers the entire container *
    body, .container {
        background-size: cover;
    }

    /* Other existing rules remain unchanged */
    .loginContainer {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
    }

    #gameContainer {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
    }

    #loggedInUser {
        margin-bottom: 20px;
        padding: 20px;
    }

    #guessForm.form {
        width: 85%;
        margin: 0 auto;
    }

    #usernameForm.form {
        width: 60%;
        margin: 0 auto; /* Center horizontally */
        text-align: center; /* Center text */
    }
}


/*
    .btn--big::after {
        font-size: 0.6rem;
        left: -0.7rem;
    }

    .question-area {
        padding: 10% 0;
        width: 100%;
    }

    .question-area span {
        padding: 0;
    }

    .answer-message {
        display: block;
    }

    #answer-box {
        display: block;
        margin: 0 auto;
    }

    .btn--gray {
        margin-top: 0;
    }

    .score-area {
        width: 100%;
    }

    .scores {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }

    .heading {
        font-size: 2rem;
    }
}

@media (max-width: 320px) {
    .game-area {
        height: 70vh;
    }

    .controls-area {
        width: 75%;
        margin: 10px auto;
    }

    .btn--big {
        margin: 10px 10px;
    }

    .question-area {
        padding: 10px 0;
    }

}
*/