* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-image: url(../images/pinky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
}

#topScoresForm {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

/* Other CSS rules remain unchanged */

h1.text-center.mb-4{
    padding: 2% 0;
}
.header {
    text-align: center;
    margin:20px;
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 10px;
    color: red;
    font-weight: bolder;
    font-style: italic;
    font-size: larger;
}

.header img {
    width: 100px;
    display: inline;
}

#gameArea{
    background-color: burlywood;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.7);
    padding: 20px;
    opacity: 0.9;
    width: 18%;
    color: red;
}
.form {
    background-color: burlywood;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
    max-width: 550px;
    width: auto;
    color: red;
}

.guessform {
    padding: 0;
    max-width: 550px;
    width: 90%;
    margin-left: 70px;
    
}
/* Adjustments to the labels and radio buttons */
#guessForm label {

    color: red;
}

#guesForm input[type="radio"] {
    margin-right: 5px; /* Adjust as needed for spacing between the radio button and the word */
}

#guesForm span {
    margin-right: 15px; /* Adjust as needed for spacing between the word and the next radio button */
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.hidden {
    display: none;
}

form {
    margin-bottom: 20px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    color: #664c37;
}

input[type="text"] {
    width: 200px;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #664c37;
}

button {
    background-color: #8b4513;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#loggedInUser {
    background-color: burlywood;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 40px;
    right: 30px;
    padding:10px;
    color: red;
}

button#quitGame {
    
        background-color: #8b4513;
        color: #fff;
        border: none;
        padding: 10px 20px;
        margin-top: 10px;
        cursor: pointer;
        border-radius: 5px;
        /*position: static;*/
        
    
}


button:hover {
    background-color: #a0522d;
}

#message {

    margin-top: 10px;
    font-size: 18px;
    padding: 0 5px;
}

#attempts {
    font-style: italic;
}

#characterImg {
   
    display: block;
    margin: 0 auto; /* Center the image horizontally */
    padding-bottom: 5%;
}


#gameContainer {
    display: flex;
 
  
}
#options label {
    display: block;
    margin-bottom: 10px; /* Adjust as needed for spacing between options */
    color: red;
}
.guessform .button-area {
    flex-direction: row;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.high_score_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    text-align: left;
}

#highScoresList{
    display: flex;
    flex-direction: column;
    /*justify-content: center;
    /*align-items: center;*/
    height: 50%;
    width: 50%;
    background-color: beige;;
    text-align: justify;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.7);
    opacity: 0.9;
}

.table th {
    background-color: #f2f2f2; /* Header background color */
}

.table tr:nth-child(even) {
    background-color: #f9f9f9; /* Alternate row background color */
}

.table tr:hover {
    background-color: #f5f5f5; /* Hover row background color */
}


/* --------- Media queries */
@media screen and (max-width: 600px){
    html, body {
        font-family: 'Comic Sans MS', cursive, sans-serif;
        background-image: url('/assets/images/mobile-background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        padding: 0;
        
    }
    
    .gameContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-image: url('/assets/images/mobile-background.jpg');
        height: 100%;
    }

    #gameArea{
        background-color: burlywood;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.7);
        padding: 20px;
        opacity: 0.9;
        width: 80%;
        margin-top: 80px;
        color: red;
    }
    #guessForm label {

        color: black;
    }
    .header {
        margin: 20px 20px 0 0;
        padding-bottom: 0;
        color: red;
        font-weight: bolder;
    }

    #loggedInUser {
        background-color: burlywood;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 80px;
        right: 20%;
        padding:10px;
        color: red;
    }
       

    /* Other existing rules remain unchanged */




    form#guessForm {
      
        align-content: center;
        
    }

 

    /* Adjust the position of the Quit button *
    #quitGame {
        position: static; /* Reset position *
        margin-bottom: 20px; /* Adjust margin-top *
    }

    /* Ensure background image covers the entire container *
    body, .container {
        background-size: cover;
    }

    /* Other existing rules remain unchanged */
    .loginContainer {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
    
    }

    #gameContainer {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
    }

    #loggedInUser {
        margin: 10px 20px 0;
    }

   /* #guessForm.form {
        width: 85%;
        margin: 0 auto;
    }*/

    .guessform {
        padding: 0;
        max-width: 550px;
        width: 90%;
        margin-left: 0;
    }

    #usernameForm.form {
        width: 80%;
        margin: 0 auto; /* Center horizontally */
        text-align: center; /* Center text */
    }
}




@media screen and (min-width: 768px) {

    html, body {
        font-family: 'Comic Sans MS', cursive, sans-serif;
        background-image: url(../images/pinky-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        padding: 0;
        height: 100%;
    }
    /* Other existing rules remain unchanged */
    .loginContainer {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
    }

    #gameContainer {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
    }
    #gameArea{
        background-color: burlywood;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.7);
        padding: 20px;
        opacity: 0.9;
        width: 38%;
        color: red;
    }



    #loggedInUser {
        margin-bottom: 20px;
        padding: 10px;
    }

   /* #guessForm.form {
        width: 100%;
        margin: 0 auto;
    }*/


    .guessform {
        padding: 0;
        /* max-width: 550px; */
        width: 100%;
        margin-left: 0;
    }

    #usernameForm.form {
        width: 70%;
        margin: 0 auto; /* Center horizontally */
        text-align: center; /* Center text */
    }
 


   
}


@media screen and (min-width: 900px) {

    html, body {
        font-family: 'Comic Sans MS', cursive, sans-serif;
        background-image: url(../images/pinky.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        padding: 0;
        height: 100%;
    }
    /* Other existing rules remain unchanged */
    .loginContainer {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
    }

    #gameContainer {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
    }
    #gameArea{
        background-color: burlywood;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.7);
        padding: 20px;
        opacity: 0.9;
        width: 28%;
        color: red;
        align-items: center;
    }


    #loggedInUser {
        margin-bottom: 20px;
        padding: 10px;
    }
/*
    #guessForm.form {
        width: 60%;
        margin: 0 auto;
    }*/

    .guessform {
        padding: 0;
        /* max-width: 550px; */
        width: 70%;
    margin-left: 50px;
    }

    #usernameForm.form {
        width: 70%;
        margin: 0 auto; /* Center horizontally */
        text-align: center; /* Center text */
    }
 


   
}

@media (max-width: 320px) {
    .game-area {
        height: 70vh;
    }

    .controls-area {
        width: 75%;
        margin: 10px auto;
    }

    .btn--big {
        margin: 10px 10px;
    }

    .question-area {
        padding: 10px 0;
    }
}