* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-image: url(../images/sonic_big_background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
}

#parent-container {
    height: 100%;
}

.hidden_heading{
  display: none;
}

/* Style for high_scores.html page*/
#topScoresForm {
    display: none;
}

td {
    padding-left: 20px;
}
h1.text-center.mb-4{
    padding: 2% 0;
    text-align: center;
    font-family: "Abril Fatface", Times, serif;
    font-size:xx-large;
    color: blue;
    text-shadow: 4px 4px 5px white;
}



.table th {
    background-color: lightblue; 
   text-align: center;
}

.table tr {
    background-color: #f9f9f9; 
}

.table tr:hover {
    background-color: lightskyblue; 
}

/* Style for Login Container on index.html page*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.header {
    text-align: center;
    margin:20px;
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 10px;
    color:orangered;
    font-weight: bolder;
    font-style: italic;
    font-size: xx-large;
    font-family: "Abril Fatface", serif;
    text-shadow: 4px 4px 5px white;
}

/* Style for Game Area*/
#gameArea{
    background-color: #F6C883;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.7);
    padding: 20px;
    opacity: 0.8;
    width: 18%;
    color: blue;
}
.form {
    background-color: #F6C883;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
    max-width: 550px;
    width: auto;
    color: blue;
    opacity: 0.8;
}

.guessform {
    padding: 0;
    max-width: 550px;
    width: 90%;
    margin-left: 70px;
    
}

#guessForm label {

    color: blue;
}

#guesForm input[type="radio"] {
    margin-right: 5px; 
}

#guesForm span {
    margin-right: 15px; 
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.hidden {
    display: none;
}

form {
    margin-bottom: 20px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    color: #000000;
}

input[type="text"] {
    width: 200px;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #000000;
}

button {
    background-color: blue;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    
}

#loggedInUser {
    background-color:  #F6C883;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 40px;
    right: 30px;
    padding:10px;
    color: blue;
}

button#quitGame {
    
        background-color: blue;
        color: #fff;
        border: none;
        padding: 10px 20px;
        margin-top: 10px;
        cursor: pointer;
        border-radius: 5px;
   
}


button:hover, button#quitGame:hover {
    background-color: #DA2528;
}

#message {

    margin-top: 10px;
    font-size: 18px;
    padding: 0 5px;
}

#attempts {
    font-style: italic;
}

#characterImg {
   
    display: block;
    margin: 0 auto; 
    padding-bottom: 5%;
}


#gameContainer {
    display: flex;
 
  
}
#options label {
    display: block;
    margin-bottom: 10px; 
    color: blue;
}
.guessform .button-area {
    flex-direction: row;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.high_score_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    text-align: left;
}
#highScoresList{
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 40%;
    background-color:  #F6C883;
    text-align: justify;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.7);
    opacity: 0.8;
}

/* Sweet Alert Style*/
body.swal2-height-auto {
    height: 100vh !important;
}




/* --------- Media queries */

@media (max-width: 320px) {

    /* Game Area Style */
    .game-area {
        height: 70vh;
    }

    #loggedInUser {
        background-color: #F6C883;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 200px;
        right: auto;
        padding:10px;
        color: blue;
    }

    /*High Scores Area */
    #highScoresList{
        display: flex;
        flex-direction: column;
        height: 80%;
        width: 70%;
        background-color:  #F6C883;
        text-align: justify;
        padding: 2%;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.7);
        opacity: 0.8;
    }
}

@media screen and (max-width: 600px){
    html, body {
        font-family: 'Comic Sans MS', cursive, sans-serif;
     
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        padding: 0;
        height: 100vh;
    }
   
   /* Game Area Style */ 
    .gameContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-repeat: no-repeat;
        background-size: cover;
       
      
    }

    #gameArea{
        background-color:  #F6C883;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.7);
        padding: 20px;
        opacity: 0.9;
        width: 80%;
        margin-top: 80px;
        color: blue;
        margin-right: 10%;
    }
    #guessForm label {

        color:  blue;
    }
    .header {
        margin: 20px 20px 0 0;
        padding-bottom: 0;
        color:  #DA2528;
        font-weight: bolder;
    }

    

    #loggedInUser {
        background-color: #F6C883;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 110px;
        right: auto;
        padding:10px;
        color: blue;
    }
 
    form#guessForm {
      
        align-content: center;
        
    }

 

    #gameContainer {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
    }

    .guessform {
        padding: 0;
        max-width: 550px;
        width: 90%;
        margin-left: 0;
    }


   /* User loggin Style */
   .loginContainer {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;

}
    #usernameForm.form {
        width: 80%;
        margin: 0 auto; 
        text-align: center; 
    }

    #highScoresList{
        display: flex;
        flex-direction: column;
        height: 80%;
        width: 70%;
        background-color:  #F6C883;
        text-align: justify;
        padding: 2%;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.7);
        opacity: 0.8;
    }
}




@media screen and (min-width: 768px) {



    html, body {
        font-family: 'Comic Sans MS', cursive, sans-serif;
       
        margin: 0;
        padding: 0;
       
    }
    
#parent-container {
    
    background-image: url(../images/sonic_tablet.webp);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding-top: 20px;
    height: 110vh;
}
   /* Sweet Alert Style */
body .swal2-height-auto {
    height: 80vh;
}

   /* User loggin Style */
    .loginContainer {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
    }

    #usernameForm.form {
        width: 70%;
        margin: 0 auto;
        text-align: center; 
    }
    
    /* Game Area Style */
    #gameContainer.gameContainer {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
       
    }
    #gameArea{
        background-color: #F6C883;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.7);
        padding: 20px;
        opacity: 0.8;
        width: 38%;
        color: blue;
    }



    #loggedInUser {
        margin-bottom: 20px;
        padding: 10px;
    }

    .guessform {
        padding: 0;
        width: 100%;
        margin-left: 0;
    }

 
 
}


@media screen and (min-width: 900px) {

    html, body {
        font-family: 'Comic Sans MS', cursive, sans-serif;
        background-image: url(../images/sonic_big_background.webp);
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        padding: 0;
        height: 104vh;
    }
 
    .loginContainer {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
    }
    #parent-container {
    
        background-image: url(../images/sonic_tablet.webp);
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        padding-top: 20px;
    }

    /* Game Area Style */
    #gameArea{
        background-color: #F6C883;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.7);
        padding: 20px;
        opacity: 0.9;
        width: 28%;
        color: blue;
        align-items: center;
    }

    .guessform {
        padding: 0;
        width: 70%;
    margin-left: 40px;
    }

   /* User loggin Style */
    #loggedInUser {
        margin-bottom: 20px;
        padding: 10px;
    }




    #usernameForm.form {
        width: 70%;
        margin: 0 auto; 
        text-align: center; 
    }
 
}

